@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<main aria-labelledby="title">
    <h1 class="text-danger" id="title">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
</main>
