#task {
    display: flex;
    justify-content: center; /* Aligns items horizontally at the center */
    align-items: center; /* Aligns items vertically at the center */
    height: 100%;
}

#task input {
   
    height: stretch;
    padding: 0;
    padding: 0 2%;
    box-sizing: border-box;
}

#task p {
    min-width: 60px;
    margin-left:30px ;
    height: 100%;
}

#task select {
  
    border: 2px solid black;
    padding: 7px;
    margin:0px 20px;
    height: inherit;
}

#task button {
    height: 100%;
}

#timer {
    margin: 0;
    padding: 0 0 0 25px;
}