<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>p-4</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_TargetId>IISWebDeploy</_TargetId>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="PhoneBookConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=PhoneBooks;Integrated Security=True;Multiple Active Result Sets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PIS_Lab4.Context.ApplicationDbContext, PIS_Lab4" MigrationConfiguration="PIS_Lab4.Migrations.PhoneBooks.Configuration, PIS_Lab4" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="PhoneBookConnection-Web.config Connection String">
      <ParameterValue>Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=PhoneBooks;Integrated Security=True;Multiple Active Result Sets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>