@{
    Layout = null;
}

<style>
    * {
        font-family: "Tilda Sans VF";
    }
</style>
<ul>
    <li><a href="/Start/One">One</a></li>
    <li><a href="/Start/Two">Two</a></li>
    <li><a href="/Start/Three">Three</a></li>
</ul>