@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>M05</title>
</head>
<body>
    <h1>@ViewBag.RequestMethod:M05:/@ViewBag.b/@ViewBag.str</h1>
</body>
</html>