@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>M06</title>
</head>
<body>
    <h1>@ViewBag.RequestMethod:M06:/@ViewBag.f/@ViewBag.str</h1>
</body>
</html>