@{
    ViewBag.Title = "Ilusha Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="jumbotron">
        <h1>Добро пожаловать в домен @ViewBag.Domain, @ViewBag.Username!</h1>
    </div>
    <div style="color:red;">
        @ViewBag.Error
    </div>

</main>