*{
    font-family: "Podkova", sans-serif;
    font-weight: 600;
}   

@font-face {
    font-family: "Podkova";
    src: url("../Font/Podkova-Regular.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: "Podkova";
    src: url("../Font/Podkova-Bold.woff2") format("woff2");
    font-weight: bold;
}

@font-face {
    font-family: "Podkova";
    src: url("../Font/Podkova-Medium.woff2") format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Podkova";
    src: url("../Font/Podkova-ExtraBold.woff2") format("woff2");
    font-weight: 800;
}

@font-face {
    font-family: "Podkova";
    src: url("../Font/Podkova-SemiBold.woff2") format("woff2");
    font-weight: 900;
}